.button {
  padding: 10px 30px;
  border-radius: 20px;
  background-color: #12A6C8;
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
}

.button:hover {
  background-color: #0F88A3;
  cursor: pointer;
}

main {
  width: 100%;
  gap: 60px;
  margin-bottom: 60px;
}

#resultsCard, #playlistCard {
  height: 550px;
  border-radius: 10px;
  background-color: #D9D9D9;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  padding: 20px;
}

#resultsCard {
  width: 600px;
}

#resultsCard h2 {
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
}

#playlistCard {
  width: 500px;
}

#playlistName {
  width: 100%;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  border-bottom: 1px solid #000000;
  background-color: #d9d9d9;
}


#details {
  flex-direction: column;
  align-items: start;
}

#details h3 {
  color: #1E1E1E;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#details p {
  color: #878787;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#savePlaylistForm {
  flex-direction: column;
  width: 100%;
  overflow-y: hidden;
}
